.remote {
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #fff;
  /* background-color: darkgray; */
}

.remote-inner {
  width: 99vw;
  height: 99vh;
  position: absolute;
  top: 0.2em;
  left: 0.12em;
  border-radius: 15px;
  background-image: url("../assets/brushed-a1.jpg");
  display: flex;
  flex-direction: column;
}

.room-form {
  display: flex;
  flex-direction: row;
  margin: 12% 0 20% 0;
  align-items: flex-start;
  justify-content: center;
  max-width: 100%;
}

.form {
  font-family: 'PT Mono', monospace;
  font-size: 1.25em;
  height: 2.875em;
  background-color: #ececea;
  padding: 0px 0px 0px 10px;
  border-left: 1px solid #ececea;
  border: 1px solid #ff0b3a;
  min-width: 55%;
  max-width: 60%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.form-button {
  font-family: 'PT Mono', monospace;
  font-size: 1.25em;
  height: 3em;
  background-color: #ff0b3a;
  color: #ffffff;
  padding: 4px 10px 5px 10px;
  margin: 0;
  border: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.form-button:active {
  background-color: maroon;
}

.button0 {
  grid-area: top;
}

.button1 {

  grid-area: left;
}

.button2 {

  grid-area: right;
}

.button3 {
  grid-area: bottom;
}

.controls {
  background: rgba(255,255,255,0.3);
  border: 3px solid rgba(255,255,255,0.5);
  width: 75%;
  height: 33%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  padding-top: 10%;
  display: grid;
  grid-column-gap: 2%;
  grid-row-gap: 10%;
  grid-template-columns: auto 40% 40% auto;
  grid-template-rows: 20% 20% 20% auto;
  grid-template-areas: 
    ". top top ."
    ". left right ."
    ". bottom bottom .";
}

.button {
  color: white;
  background-color: rgba(0,0,0,0.5);
  border: 3px solid rgba(0,0,0,0.6);
  border-radius: 10px;
  min-height: 3em;
}

.button:active {
  background-color: rgba(255,11,58, 0.5);
  border: 3px #ff0b3a solid;
}

.logo {
  font-family: 'Racing Sans One', cursive;
  color: rgba(0,0,0,0.6);
  margin-top: 10%;
  text-shadow: 0px -1px 0px rgba(255,255,255,.5); /* 50% white from top */
}