.App {
  text-align: center;
}

.television {
  margin-top: 10%;
  width: 52%;
  position: relative;
  z-index: 1;
  margin-left:auto;
  margin-right:auto;
  -webkit-box-reflect: below 0
    -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(93%, transparent), to(white));
}

.viewer {
  left: 29%;
  top: 26%;
  position: absolute;
  z-index: 0;
}