.App {
  text-align: center;
}

.container {
}

.television {
  margin-top: 10%;
  width: 56%;
  position: relative;
  z-index: 1;
  margin-left:auto;
  margin-right:auto;
  -webkit-box-reflect: below 0
    -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(93%, transparent), to(white));
}

.viewer {
  left: 29%;
  top: 28%;
  border: none;
  position: absolute;
  z-index: 0;
}

.results {
  margin: auto;
  width: 640px;
}

.search-result {
  display: flex;
  height: 90px;
  text-align: left;
  font-size: 1.15em;
  padding: 5px
}

.description {
  margin-left: 25px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
