.App {
  text-align: center;
}

.room-code {
  font-family: 'Space Mono', Courier, monospace;
  margin-top: 5%;
  margin-bottom: 3%;
}

.viewer {
  position: relative;
  height: 0;
  padding-bottom: 27%;
}

.television {
  max-width: 52%;
  position: relative;
  z-index: 1;
  margin-left:auto;
  margin-right:auto;
  -webkit-box-reflect: below 0
    -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(93%, transparent), to(white));
}

.iframe {
  position: absolute;
  background-color: #d3d3d3;
  top: 10%;
  left: 28%;
  width: 35%;
  height: 95%;
  z-index: 0;
}